{{ define "title"}}{{ .feed.Title }} ({{ .total }}){{ end }}

{{ define "page_header"}}
<section class="page-header clearfix" aria-labelledby="page-header-title">
    <h1 id="page-header-title" dir="auto">
        <a href="{{ .feed.SiteURL | safeURL  }}" title="{{ .feed.SiteURL }}" {{ if $.user.OpenExternalLinksInNewTab }}target="_blank"{{ end }} rel="noopener noreferrer" referrerpolicy="no-referrer" data-original-link="{{ .user.MarkReadOnView }}">{{ .feed.Title }}</a>
        <span aria-hidden="true">({{ .total }})</span>
    </h1>
    <ul>
        <li>
            <a href="{{ route "feedEntries" "feedID" .feed.ID }}" {{ if .showOnlyUnreadEntries }}class="disabled"{{ end }}>{{ icon "show-unread-entries" }}{{ t "menu.unread_entries" }}</a>
        </li>
        <li>
            <a href="{{ route "feedEntriesStarred" "feedID" .feed.ID }}" {{ if .showOnlyStarredEntries }}class="disabled"{{ end }}>{{ icon "star" }}{{ t "menu.starred_entries" }}</a>
        </li>
        <li>
            <a href="{{ route "feedEntriesAll" "feedID" .feed.ID }}" {{ if and (not .showOnlyUnreadEntries) (not .showOnlyStarredEntries) }}class="disabled"{{ end }}>{{ icon "show-all-entries" }}{{ t "menu.all_entries" }}</a>
        </li>
    </ul>
    <ul class="left full">
        {{ if .entries }}
        <li>
            <button
                    class="page-button"
                data-action="markPageAsRead"
                data-label-question="{{ t "confirm.question" }}"
                data-label-yes="{{ t "confirm.yes" }}"
                data-label-no="{{ t "confirm.no" }}"
                data-label-loading="{{ t "confirm.loading" }}"
                data-show-only-unread="{{ if .showOnlyUnreadEntries }}1{{ end }}">{{ icon "mark-page-as-read" }}{{ t "menu.mark_page_as_read" }}</a>
        </li>
        <li>
            <button
                    class="page-button"
                data-confirm="true"
                data-label-question="{{ t "confirm.question" }}"
                data-label-yes="{{ t "confirm.yes" }}"
                data-label-no="{{ t "confirm.no" }}"
                data-label-loading="{{ t "confirm.loading" }}"
                data-url="{{ route "markFeedAsRead" "feedID" .feed.ID }}">{{ icon "mark-all-as-read" }}{{ t "menu.mark_all_as_read" }}</a>
        </li>
        {{ end }}
        <li>
            <button
                    class="page-button"
                data-confirm="true"
                data-label-question="{{ t "confirm.question.refresh" }}"
                data-label-yes="{{ t "confirm.yes" }}"
                data-label-no="{{ t "confirm.no" }}"
                data-label-loading="{{ t "confirm.loading" }}"
                data-url="{{ route "refreshFeed" "feedID" .feed.ID }}?forceRefresh=true"
                data-no-action-url="{{ route "refreshFeed" "feedID" .feed.ID }}?forceRefresh=false">{{ icon "refresh" }}{{ t "menu.refresh_feed" }}</a>
        </li>
        <li>
            <a href="{{ route "editFeed" "feedID" .feed.ID }}">{{ icon "edit" }}{{ t "menu.edit_feed" }}</a>
        </li>
        <li>
            <button
                    class="page-button"
                data-confirm="true"
                data-action="remove-feed"
                data-label-question="{{ t "confirm.question" }}"
                data-label-yes="{{ t "confirm.yes" }}"
                data-label-no="{{ t "confirm.no" }}"
                data-label-loading="{{ t "confirm.loading" }}"
                data-url="{{ route "removeFeed" "feedID" .feed.ID }}"
                data-redirect-url="{{ route "feeds" }}">{{ icon "delete" }}{{ t "action.remove_feed" }}</a>
        </li>
        <li>
            <button
                    class="page-button"
                data-action="setView"
                data-url="{{ route "updateFeedView" "feedID" .feed.ID }}"
                {{ if eq .view "masonry" }}
                    data-value="list">
                    {{ icon "list" }}{{ t "form.prefs.select.view_list" }}
                {{ else }}
                    data-value="masonry">
                    {{ icon "masonry" }}{{ t "form.prefs.select.view_masonry" }}
                {{ end }}
            </a>
        </li>
    </ul>
</section>
{{ end }}

{{ define "content"}}
{{ if ne .feed.ParsingErrorCount 0 }}
<div role="alert" class="alert alert-error">
    <h3>{{ t "alert.feed_error" }}</h3>
    <p>{{ t .feed.ParsingErrorMsg }}</p>
</div>
{{ end }}
{{ if not .entries }}
    {{ if .showOnlyUnreadEntries }}
        <p role="alert" class="alert">{{ t "alert.no_unread_feed_entry" }}</p>
    {{ else if .showOnlyStarredEntries }}
        <p role="alert" class="alert">{{ t "alert.no_starred_feed_entry" }}</p>
    {{ else }}
        <p role="alert" class="alert">{{ t "alert.no_feed_entry" }}</p>
    {{ end }}
{{ else }}
    <div class="pagination-top">
        {{ template "pagination" .pagination }}
    </div>
    <div class='items{{ if eq .view "masonry" }} masonry{{ end }}'>
        <div class="item-sizer"></div>
        {{ range .entries }}
        {{ 
            template "item" 
            dict "user" $.user 
                "entry" . 
                "view" $.view
                "hasSaveEntry" $.hasSaveEntry 
                "pageEntriesType" $.pageEntriesType 
                "href" (route "feedEntry" "feedID" .Feed.ID "entryID" .ID)
        }}
        {{ end }}
    </div>
    <section class="page-footer">
        <ul>
            <li>
                <button
                    class="page-button"
                    data-action="markPageAsRead"
                    data-label-question="{{ t "confirm.question" }}"
                    data-label-yes="{{ t "confirm.yes" }}"
                    data-label-no="{{ t "confirm.no" }}"
                    data-label-loading="{{ t "confirm.loading" }}"
                    data-show-only-unread="{{ if .showOnlyUnreadEntries }}1{{ end }}">{{ icon "mark-page-as-read" }}{{ t "menu.mark_page_as_read" }}</button>
            </li>
            <li>
                <button
                    class="page-button"
                    data-confirm="true"
                    data-label-question="{{ t "confirm.question" }}"
                    data-label-yes="{{ t "confirm.yes" }}"
                    data-label-no="{{ t "confirm.no" }}"
                    data-label-loading="{{ t "confirm.loading" }}"
                    data-url="{{ route "markFeedAsRead" "feedID" .feed.ID }}">{{ icon "mark-all-as-read" }}{{ t "menu.mark_all_as_read" }}</a>
            </li>
        </ul>
    </section>
    <div class="pagination-bottom">
        {{ template "pagination" .pagination }}
    </div>
{{ end }}

{{ end }}
